// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Fontawesome
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/v4-shims.scss';

.card {
    .card-header,
    .card-body {
        @extend .text-dark;
    }
}
.post {
    text-align: left;
    @extend .p-2;
}

.post:not(:last-child):after {
    @extend .mb-5;
}

.post-title {
    @extend .mb-0;
}

.post-meta {
    @extend .p-0;
    @extend .mx-0;
    @extend .mt-0;
    @extend .mb-3;
    li {
        @extend .badge;
        list-style: none;
    }
}

.post-body {
}

 .ck-editor__editable_inline {
     min-height: 400px;
 }

 .project-list {
     h1 { font-size: 1.25rem; }
     h2, h3, h4, h5 { font-size: 1.0rem; }
 }
